/*---AdminSiteMaster stylesheet---*/

#form1{
    height: 1000px;
}
#headingLogo{
    width:1000px;
    height: 190px;
}

#headingLogo img{
    width: 240px;
    height: 140px;
}

#wrapper{
    text-align: center;
    padding: 0 168px;
}

body{
    background-color: #C0C0C0;
    clear: both;
}

#page{
    width: 1000px;
    background-color: #ffffff;
    height: 900px;
    margin: auto;
}

/*---Navigation Menu for AdminSite.Master---*/
.mainNavigation p{
    font-family: Helvetica;
    font-weight: bold;
}

.tdMenu{
    height:15px;
    background-color: #dbdbdb;
}

#navigationMenu{
    float: left;
    width: 205px;
    height: 647px;
    vertical-align: top;
    position: relative;
    bottom:22px;  
    border-right: solid;
    border-color: #dbdbdb;
    border-width: thin;
}

.menuButton{
    height: 40px;
    width: 200px;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color:#cd5c5c;
}

.menuButton:hover{
    background-color: #dbdbdb;
    color: #000000;
}

/*---AdminSite.Master stylesheet---*/
#header h1{
    text-align: center;
    height: 40px;
    font-family: Helvetica;
    border-top: solid;
    border-bottom: solid;
    border-color: #dbdbdb;
    border-width: thin;
}

@media only screen and (max-width: 40em){
#header h1{
    color: #000000;
    text-align: justify;
}
}

#contentColumn{ 
    margin-left:110px;
    padding-left:10px;
    padding-right: 10px;
    width: 760px;
   
}

#footer{
    width: 1000px;
    background-color: #dbdbdb;
    height: 39px;
    background: #dbdbdb;      
    height:39px;
}

#footer p{
    font-family: Helvetica;
    font-size: 13px;
    color: #000000;
    text-align: center;
    position: relative;
    top:10px;
}

/*---add.aspx stylesheet---*/
#formColumn{
    height: 200px;
    background-color: #ffffff;
}

.GridView1{
    width: 640px;
    height: 80px;
    font-family: Arial;
    font-size: 16px;
    position: relative;
    left: 60px;  
    top: 10px; 
    
}

/*--FormView tbl--*/
#tblFormView{
    position: relative;
    left: 12px;
}
#tblFormView tr{
    width: 180px;
    height: 30px;
    text-align: left; 
}

#tblFormView td{
    width: 130px;
}

.formView{
    position: relative;
    left: 225px;
    top: 50px;
    background-color: #d3d3d3;
    width:328px;
    height: 248px;
}
/*---textbox in formview---*/
.inputFormView{
    height:16px;
    width: 150px;
}
/*---Button in formview---*/
.btnFormView{
    text-decoration: none;
    font-family: Arial;
    font-size: 13px;
    color: #ffffff;
    padding: 5px 22px;
    border: solid;
    border-width: 1px;
    border-color:#000000;
    background-color: #cd5c5c;
}

.btnFormView:hover{
    background-color: #dbdbdb;
    color: #000000;
}

/*---Edit.aspx stylesheet---*/
#addLinkColumn{
    position: relative;
    top: 54px;
    border: groove;
    border-width: thin;
    height: 19px; 
}
#addLinkColumn p{
    position: relative;
}

.uploadImage{
    width: 200px;
    height: 180px;
    position: relative;
    top: 140px;
}

/*---list.aspx---*/

/*---uploadImage.aspx stylesheet---*/

.imgload{
    width:250px;
    height: 250px;
}

#imgColumn{
    position: relative;
    width: 200px;
    height: 150px;
    border-style:solid;
    border-width: thin;
    top: 130px;
    left: 60px;
}

.tblImageButton{
    position: relative;
    left: 230px;
}