#tbl{
     border: thin solid #DCDCDC; 
     width: 625px; 
     left: 0px; 
     top: 0px;
     background-color:#F5F5F5;
     
}
#tbl td{
    width:918px;
    height:9px;
}
.tblhead{
    width:860px;
    height: 40px;
    
}
.tblFirstName td{
    width:953px;
}
.tblhead table{
    float:right;

}
.tblhead tr{
    width:333px;
}
.tblhead td{
    width:937px;
    
}
.tblloginy td{
    width:937px;
}
.tblheader{
    width:957px;
    height:170px;
  
}
.tblwidth1height td{
    height:20px;
}



/*Input box style*/
.TxtBoxFirstName {
   
    font-family:Arial;
    font-size: 15px;
    padding: 10px 39px;
    border-style:solid;
    border-width:1px;
    border-color:#DCDCDC;
    margin-right: 10px;
    width: 220px;
    height: 30px;
    display:inline-block;
    padding-top: 5px;
}
.TxtBoxLastName {
   
    font-family:Arial;
    font-size: 15px;
    padding: 10px 39px;
    border-style:solid;
    border-width:1px;
    border-color:#DCDCDC;
    margin-right: 10px;
    width: 220px;
    height: 30px;
    display:inline-block;
    padding-top: 5px;
}
.Thirdinput {
   
   
    font-size: 13px;
    padding: 12px 39px;
    border: 1px solid #000000;
    margin-right: 10px;
    width: 220px;
    height: 5px;
}
.Fourthinput {
   
   
    font-size: 13px;
    padding: 12px 39px;
    border: 1px solid #000000;
    margin-right: 10px;
    width: 220px;
    height: 5px;
}

.Fifthinput {
    font-size: 13px;
    padding: 12px 39px;
    border: 1px solid #000000;
    margin-right: 10px;
    width: 220px;
    height: 5px;
}

.Sixthinput {
   
   
    font-size: 13px;
    padding: 12px 39px;
    border: 1px solid #000000;
    margin-right: 10px;
    width: 220px;
    height: 5px;
}
.Seveninput {
   
   
    font-size: 13px;
    padding: 12px 39px;
    border: 1px solid #000000;
    margin-right: 10px;
    width: 220px;
    height: 5px;
}
.Eightinput {
   
   
    font-size: 13px;
    padding: 12px 39px;
    border: 1px solid #000000;
    margin-right: 10px;
    width: 220px;
    height: 70px;
}

/*Button*/
.Contactbutton{

    text-decoration:none;
    border-style: none;
	border-width: medium;
	padding: 15px 25px;
	font-size: 13px;
	font-family:"Arial";
	text-align: center;
	color: #ffffff;
	background-color: #cd5c5c;
    float:left;
    margin-top:26px;
    height: 18px;
    margin-left: 36px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 137px;
}
.Contactbutton:hover{

    background-color:#dbdbdb;
}
/*--Text style--*/
.tblFirstName p{
    font-family:Arial;
    font-size:15px;
}